<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Cancellation</title>
</head>
    <body style="background-color: white;">
        <div style="height:500px;padding-top:100px">
            <h1 style="text-align: center; margin-bottom: 20px; font-family: sans-serif;color: rgb(20, 155, 20);font-weight: normal;font: size 50px;">Subscription Cancellation</h1>
            <p style="text-align: center;font-family: sans-serif;font-size: large;"> Your subscription is no more exists. </p>
        </div>
    </body>
</html>