<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Approved</title>
</head>

<body style="font-family: Arial, sans-serif">
    <div style="margin: auto; width: 50%; padding: 20px;">
        <h1 style="color: #333333; text-align: center;">Partner Approval</h1>

        <p style="color: #333333">Dear Partner,</p>

        <p style="color: #333333">We are pleased to inform you that your request for partner onboarding has been approved by the admin.</p>

        <p style="color: #333333">Please find below the details of your approved request:</p>

        <ul style="color: #333333">
            <li>Partner Name: #{partnerName}</li>
            <li>Partner ID: #{partnerId}</li>
            <li>Onboarding Date:#{date}</li>
            <li>Gym Name: #{gymName}</li>
        </ul>

        <p style="color: #333333">If you have any questions or need further assistance, please don't hesitate to contact us.</p>

        <p style="color: #333333">Thank you for partnering with us!</p>

        <p style="color: #333333">Best regards,</p>
        <p style="color: #333333">Trampfit</p>
    </div>
</body>

</html>