<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Rejected</title>
</head>
<body style="font-family: Arial, sans-serif">
    <div style="margin: auto; width: 50%; padding: 20px;">
        <h1 style="color: #333333; text-align: center;">Partner Rejection</h1>

        <p style="color: #333333">Dear Partner,</p>

        <p style="color: #333333">We regret to inform you that your request for partner onboarding has been rejected by the admin.</p>

        <p style="color: #333333;font-weight: bold;">Rejection Reason: #{reason} </p>

        <p style="color: #333333">If you have any questions or need further clarification, please don't hesitate to contact us.</p>

        <p style="color: #333333">Thank you for considering partnership with us!</p>

        <p style="color: #333333">Best regards,</p>
        <p style="color: #333333">Trampfit</p>
    </div>
</body>
</html>