<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Email Verification</title>
</head>
    <body style="background-color: white;">
        <div style="height:500px;padding-top:100px">
            <h1 style="text-align: center; margin-bottom: 20px; font-family: sans-serif;color: rgb(20, 155, 20);font-weight: normal;font: size 50px;">Subscription Confirmed</h1>
            <p style="text-align: center;font-family: sans-serif;font-size: large;">You're all set! Thank you for Subscribing to our gym sessions. You're one step closer to achieving your fitness goals.<br> Click on Download Now Button to download the receipt.</p>
            <center style="margin-top: 30px;">
                <a href="#{downloadLink}" style="text-decoration: none;font-family: sans-serif;font-size: 20px;background-color: rgb(20, 155, 20);color: white;padding: 10px;padding-left: 20px;padding-right: 20px;border-radius: 5px;">Download Now</a>
            </center>
        </div>
    </body>
</html>