<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Email Verification</title>
</head>
    <body style="background-color: white;">
        <div style="height:500px;padding-top:100px">
            <h1 style="text-align: center; margin-bottom: 20px; font-family: sans-serif;color: rgb(20, 155, 20);font-weight: normal;font: size 50px;">Email Verification</h1>
            <p style="text-align: center;font-family: sans-serif;font-size: large;">Please click on <span style="font-weight: bold;">Verify Email</span> button to complete the <span style="color: rgb(20, 155, 20);">TRAMPFIT</span> user verification .</p>
            <center style="margin-top: 30px;">
                <a href="http://localhost:3000/userEmailVerification" style="text-decoration: none;font-family: sans-serif;font-size: 20px;background-color: rgb(20, 155, 20);color: white;padding: 10px;padding-left: 20px;padding-right: 20px;border-radius: 5px;">Verify Email</a>
            </center>
        </div>
    </body>
</html>